/* nav */
header {    
    background-color: white;
    height: 50px;
    box-shadow: 5px 5px 5px 0 black;
    width: 100%;
}
header .nav{
    float: right;
    margin-top: 10px;
}
header * {
    display: inline;
}

header li {
    margin: 10px;
    font-size: 20px;
    font-weight: 800;
}
.nav-btn :hover {
    opacity: 0.5;
}
/* //nav */

/* content */
.content {
    padding: 3px;
}
.tool-bar {
    background-color: rgb(241, 241, 241);
    border: 3px solid rgb(50, 186, 231);
    padding-left: 20px;
}

.tool-btns {
    display: inline;
}

.btn, .btn::after {
    -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
.btn {
    background: rgb(118, 206, 235);
    border: 3px solid #fff;
    border-radius: 5px;
    color: #fff;
    width: 80;
    font-size: 13px;
    font-weight: bolder;
    margin: 13px;
    margin-left: 0;
    margin-right: 15px;
    padding-bottom: 5px;
    position: relative;
    text-transform: uppercase;
}
  
.btn:hover {
    background: #fff;
    color: rgb(118, 206, 235);
    border: 3px solid rgb(118, 206, 235);
}

.area {
    border-left: 3px solid rgb(50, 186, 231);
    border-bottom: 3.5px solid rgb(50, 186, 231);
    border-right: 3.5px solid rgb(50, 186, 231);
    border-top: 0;
    background-color: white;
    width: 100%;
    height: 505px;
 
}
.ep_tem_area {
    border-right: 3.5px solid rgb(50, 186, 231);
    float: left;
    width: 33%;
    height: 502px;
}

.textarea {
    margin-top: 1px;
    margin-left: 6px;
    margin-right: 1px;
    width: 33%;
    height: 500px;
    overflow-y:scroll;
    float: left;
}

.textarea p {
    line-height: 7px;
}

.resource_area {
    float: left;
    border-left: 3.5px solid rgb(50, 186, 231);
    width: 33%;
    height: 502px;
}
.textarea ::-webkit-scrollbar {
    width: 13px;

}
.textarea ::-webkit-scrollbar-track {
    background-color: rgb(114, 219, 253);
} /* the new scrollbar will have a flat appearance with the set background color */

.textarea ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5); 
} /* this will style the thumb, ignoring the track */

.textarea ::-webkit-scrollbar-button {
    background-color: rgb(35, 200, 255);
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

.textarea ::-webkit-scrollbar-corner {
    background-color: rgb(255, 255, 255);
}

img {
  margin: 10px
}

/* //content */