body,
html {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

/* nav */
header {
    background-color: white;
    box-shadow: 5px 5px 5px 0 black;
    width: 100%;
}

header .nav {
    float: right;
    margin-top: 10px;
}

header * {
    display: inline;
}

header li {
    margin: 10px;
    font-size: 20px;
    font-weight: 800;
}

li>button {
    font-size: 20px;
    font-weight: 800;
    background: transparent;
    border: 0;
    padding: 1px;
}

.title-bar {
    font-size: 1.7em;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav-btn:hover {
    opacity: 0.5;
    cursor: pointer;
}

/* //nav */

/* content */
.content {
    padding-top: 5px;
    width: 100%;
    height: 83%;
    position: relative;
    overflow: auto;
}

#preview {
    z-index: 201;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    overflow-y: scroll;
}

/* 세로가 최소 700px일때 */
@media screen and (min-height: 700px) {
    header {
        height: 7%;
    }

    .ep-tem {
        font-size: 1.6rem;
    }

    .ep-title {
        font-size: 1.6rem;
        height: 10%;
    }

    .ep-list {
        font-size: 1.5em;
        height: 70%;
    }

    .ep-btn {
        width: 80px;
        font-size: 13px;
        margin: 13px 10px 13px 0px;
        padding-bottom: 5px;
    }

    .tem-list {
        height: 96%;
    }

    .area {
        height: 560px;
    }

    .textarea {
        margin-top: 30px;
        margin-right: 1px;
        padding-left: 4%;
        padding-right: 4%;
        width: 95%;
        padding-bottom: 20px;
    }

    #resource-feild {
        padding-left: 10px;
    }

    .nav_left {
        height: 520px;
        left: -300px;
        top: 55px;
        width: 300px;
    }

    .nav_left #menuToggle_left {
        height: 40px;
        left: 300px;
        top: 40%;
    }

    .nav_right {
        height: 557px;
        right: -300px;
        top: 55px;
        width: 300px;
    }

    .nav_right #menuToggle_right {
        height: 40px;
        left: -50px;
        top: 47%;
    }

    #ccc {
        top: 42%;
        left: 83.5%;
    }

    #preview {
        border: 13px solid #000000;
        border-bottom: 60px solid #000000;
    }

    .modal {
        width: 25%;
    }
}

/* 끝 세로가 최소 700px일때 */

/* 세로가 최소 700px 가로가 최소 700px 최대 899px일때 */
@media screen and (min-height: 700px) and (min-width:700px) and (max-width:899px) {
    header {
        height: 7%;
    }

    .ep-tem {
        font-size: 0.7rem;
    }

    .ep-title {
        font-size: 0.7rem;
        height: 3%;
    }

    .ep-list {
        font-size: 0.6em;
        height: 80%;
        font-weight: bold;
    }

    .ep-btn {
        display: inline-block;
        width: 40px;
        font-size: 7px;
        padding: 4px 7px 4px 7px;
    }

    .tem-list {
        height: 98%;
    }

    .area {
        height: 550px;
    }

    .textarea {
        margin-top: 30px;
        margin-right: 1px;
        padding-left: 4%;
        padding-right: 4%;
        width: 80%;
        padding-bottom: 20px;
    }

    #resource-feild {
        padding-left: 20px;
    }

    .nav_left {
        height: 520px;
        left: -160px;
        top: 55px;
        width: 160px;
    }

    .nav_left #menuToggle_left {
        height: 40px;
        left: 160px;
        top: 40%;
    }

    .nav_right {
        height: 547px;
        right: -160px;
        top: 55px;
        width: 160px;
    }

    .nav_right #menuToggle_right {
        height: 40px;
        left: -50px;
        top: 47%;
    }

    #ccc {
        top: 41.5%;
        left: 67%;
    }

    #preview {
        border: 13px solid #000000;
        border-bottom: 60px solid #000000;
    }

    .modal {
        width: 50%;
    }
}

/* 끝 세로가 최소 700px 가로가 최소 700px 최대 899px일때 */

/* 세로가 최소 900px일때 */
@media screen and (min-height:900px) {

    header {
        height: 5%;
    }

    .ep-tem {
        font-size: 1.6rem;
    }

    .ep-title {
        font-size: 1.6rem;
        height: 6%;
    }

    .ep-list {
        font-size: 1.5em;
        height: 74%;
    }

    .ep-btn {
        width: 80px;
        font-size: 13px;
        margin: 13px 10px 13px 0px;
        padding-bottom: 5px;
    }

    .tem-list {
        height: 96%;
    }

    .area {
        height: 760px;
    }

    .textarea {
        margin-top: 30px;
        margin-right: 1px;
        padding-left: 4%;
        padding-right: 4%;
        width: 95%;
        padding-bottom: 20px;
    }

    #resource-feild {
        padding-left: 13px;
    }

    .nav_left {
        height: 730px;
        left: -300px;
        top: 49px;
        width: 300px;
    }

    .nav_left #menuToggle_left {
        height: 40px;
        left: 300px;
        top: 42%;
    }

    .nav_right {
        height: 760px;
        right: -300px;
        top: 49px;
        width: 300px;
    }

    .nav_right #menuToggle_right {
        height: 40px;
        left: -50px;
        top: 47%;
    }

    #ccc {
        top: 42%;
        left: 83.5%;
    }

    #preview {
        border: 20px solid #000000;
        border-bottom: 80px solid #000000;
    }

    .modal {
        width: 25%;
    }
}

/* 끝 세로가 최소 900px일때 */

/* 가로가 최소700px 최대958px이고 세로가 최소 900px일때 */
@media screen and (min-height:700px) and (min-width:900px) and (max-width:1200px) {
    header {
        height: 5%;
    }

    .ep-tem {
        font-size: 1rem;
        bottom: -3px;
    }

    .ep-title {
        font-size: 1.2em;
        height: 4%;
    }

    .ep-list {
        height: 80%;
        font-size: 1em;
    }

    .ep-btn {
        display: inline-block;
        width: 50px;
        font-size: 9px;
        padding: 4px 7px 4px 7px;
    }

    .tem-list {
        height: 98%;
    }

    .area {
        height: 760px;
    }

    .textarea {
        margin-top: 30px;
        margin-right: 1px;
        padding-left: 4%;
        padding-right: 4%;
        width: 92%;
        padding-bottom: 20px;
    }

    #resource-feild {
        padding-left: 30px;
    }

    .nav_left {
        height: 730px;
        left: -200px;
        top: 49px;
        width: 200px;
    }

    .nav_left #menuToggle_left {
        height: 40px;
        left: 200px;
        top: 44%;
    }

    .nav_right {
        height: 760px;
        right: -200px;
        top: 49px;
        width: 200px;
    }

    .nav_right #menuToggle_right {
        height: 40px;
        left: -50px;
        top: 47%;
    }

    #ccc {
        top: 42%;
        left: 83.5%;
    }

    #preview {
        border: 20px solid #000000;
        border-bottom: 80px solid #000000;
    }

    .modal {
        width: 50%;
    }
}

/* 끝 가로가 최소900px 최대958px이고 세로가 최소 900px일때 */
.area {
    border-bottom: 4px solid rgb(50, 186, 231);
    background-color: white;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.tool-bar {
    background-color: rgb(241, 241, 241);
    border-bottom: 3px solid rgb(50, 186, 231);
    text-align: center;
}

.tool-btns {
    display: inline-block;
}

.btn,
.btn::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn {
    background: rgb(118, 206, 235);
    border: 3px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-weight: bolder;
    /* width: 80px; */
    /* font-size: 13px; */
    /* margin: 13px 10px 13px 0px; */
    /* padding-bottom: 5px; */
    position: relative;
    text-transform: uppercase;
}

.btn:hover {
    background: #fff;
    color: rgb(118, 206, 235);
    border: 3px solid rgb(118, 206, 235);
}

#popbutton {
    display: none;
    Z-INDEX: 1;
    POSITION: absolute;
    background: #2d5866;
    top: 0px;
    left: 0px;
    border-radius: 10px;
}

.tool_popup {
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin: 5px;
}

.tool_popup:hover {
    opacity: 0.5;
}

#italic {
    background: url("/image/tool_menu_icon/italic.png") no-repeat center center;
    background-size: 32px 32px;
}

#bold {
    background: url("/image/tool_menu_icon/bold.png") no-repeat center center;
    background-size: 32px 32px;
}

#underline {
    background: url("/image/tool_menu_icon/underline.png") no-repeat center center;
    background-size: 32px 32px;
}

#strikeThrough {
    background: url("/image/tool_menu_icon/strikethrough.png") no-repeat center center;
    background-size: 32px 32px;
}

#fontSize {
    background: url("/image/tool_menu_icon/font-size.png") no-repeat center center;
    background-size: 32px 32px;
}

#createLink {
    background: url("/image/tool_menu_icon/add-link.png") no-repeat center center;
    background-size: 32px 32px;
}

#unlink {
    background: url("/image/tool_menu_icon/remove-link.png") no-repeat center center;
    background-size: 32px 32px;
}

#indent {
    background: url("/image/tool_menu_icon/indent-right.png") no-repeat center center;
    background-size: 32px 32px;
}

#outdent {
    background: url("/image/tool_menu_icon/indent-left.png") no-repeat center center;
    background-size: 32px 32px;
}

/* #insertHorizontalRule {
    background: url("/image/tool_menu_icon/horizontal-line.png") no-repeat center center;
    background-size: 32px 32px;
} */

#justifyCenter {
    background: url("/image/tool_menu_icon/justify-center.png") no-repeat center center;
    background-size: 32px 32px;
}

#justifyLeft {
    background: url("/image/tool_menu_icon/justify-left.png") no-repeat center center;
    background-size: 32px 32px;
}

#justifyRight {
    background: url("/image/tool_menu_icon/justify-right.png") no-repeat center center;
    background-size: 32px 32px;
}

.ep-tem-area {
    float: left;
    width: 0;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
    -webkit-animation: showSlowlyElement 400ms;
    animation: showSlowlyElement 400ms;
    -moz-transition: width 0.2s;
    -o-transition: width 0.2s;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
}

.ep-tem-par {
    background-color: #45b3e63e;
    width: auto;
    border-bottom: 2px solid #007bff;
}

.ep-tem:hover {
    cursor: pointer;
    /* color: #fff; */
}

.ep-tem:nth-child(1) {
    border-right: 2px solid #007bff;
    /* margin-right: 10px; */
}

.ep,
.tem {
    background-color: #45b3e63e;
    width: auto;
    height: 100%;
    max-height: fit-content;
    /* position: relative; */
    /* -webkit-animation: showSlowlyElement 600ms;
    animation: showSlowlyElement 600ms; */
}

.ep-tem {
    color: #007bff;
    width: auto;
    height: 100%;
    max-height: fit-content;
    text-align: center;
    position: relative;
    margin-left: 16px;
}

.ep-title {
    margin-top: -43px;
    margin-bottom: 5px;
    text-align: center;
    color: #007bff;
}

.ep-list {
    background-color: #45b3e63e;
    border-radius: 0.25em;
    padding: 8px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.tem-list {
    background-color: #45b3e63e;
    border-radius: 0.25em;
    padding: 8px;
    overflow-y: scroll;
    margin-top: -43px;
    margin-bottom: 10px;
}

.ep-list:hover {
    background-color: #45b3e671;

}

.ep-li:hover {
    color: white;
    font-weight: 800;
    cursor: pointer;
}

.ep-btns {
    width: 100%;
    height: 15%;
    margin-left: 8px;
    /* position: absolute; */

}

.ep-btns .ep-btn {
    margin-top: 10px;
    margin-bottom: 10px;

}

.ep-btns .ep-btn:hover {
    cursor: pointer;
}

.tem {
    display: none;
}

.tem-li {
    display: inline-block;
    border-radius: 0.25em;
    width: auto;
    height: auto;
    padding: 8px;
    cursor: pointer;
    user-select: none;
    margin: 5px;
}

.tem-li:hover {
    background-color: white;
    color: #45b3e671;
    font-weight: bold;
    border: 5px solid #45b3e671;
}

.textarea {
    position: relative;
    height: 93%;
    max-width: 100%;
    max-height: 93%;
    overflow: scroll;
    float: left;
    -webkit-animation: showSlowlyElement 400ms;
    animation: showSlowlyElement 400ms;
    outline: 0px solid transparent;
    line-height: 2em;
    -moz-transition: width 0.2s;
    -o-transition: width 0.2s;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
}

.effect {
    overflow: hidden;
    height: auto;
    color: red;
    border: 1px solid lightgray;
}

.resize,
.resize_mp4 {
    width: 400px;
    height: auto;
    background-size: auto;
    background-repeat: no-repeat;
    /* position: relative; */
}

.textarea .select {
    /* line-height: 1.5rem; */
    margin-top: 3px;
    margin-bottom: 0px;
    font-size: 2.35em;

}

.resource-area {
    float: right;
    width: 0;
    height: 100%;
    overflow-y: scroll;
    -webkit-animation: showSlowlyElement 400ms;
    animation: showSlowlyElement 400ms;
    -moz-transition: width 0.2s;
    -o-transition: width 0.2s;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
}

pre {
    height: 502px;
}

#resource-feild {
    height: 90%;
    overflow-y: scroll;
}

#listing {
    margin-top: -43px;
}

.obj,
.obj_file,
.obj_kinds {
    display: inline-block;
    padding-left: 7px;
}

/* .obj_file {
    float: left;
} */

.obj,
.obj_kinds,
.obj_file:hover {
    cursor: pointer;
}

.obj_thum,
.mp4_icon {
    float: left;
    display: inline-block;
    width: 120px;
    height: 120px;
    margin-left: 7px;
    object-fit: fill;
    border-radius: .25em;
    border: 1.5px solid white;
}

.obj_thum,
.mp4_icon:hover {
    width: 130px;
    height: 130px;
}

.obj_folder {
    display: inline-block;
    width: 120px;
    height: 120px;
    object-fit: fill;
}

span.obj_name {
    display: block;
    margin-left: 7px;
    margin-bottom: 10px;
    user-select: none;
}

.back {
    display: block;
    margin-left: 15px;
    margin-bottom: 10px;
}

.back:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;

}

a:hover {
    text-decoration-line: none;
}

.memoView {
    /* display:none; */
    background-color: #000000;
    border: solid 2px #d0d0d0;
    width: 150px;
    height: 150px;
    padding: 10px;
}

.balloon {
    display: inline-block;
    position: absolute;
    background: rgb(255, 255, 93);
    height: 13px;
    width: 23px;
    margin: 0 auto 10px;
    font-size: 0.6em;
}

.balloon:before {
    content: '';
    position: absolute;
    border-top: 10px solid rgb(255, 255, 93);
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    bottom: -9px;
    left: 5px;
}

.balloon:hover {
    cursor: pointer;
}

.memoPopup {
    display: none;
    Z-INDEX: 1;
    POSITION: absolute;
    top: 0px;
    left: 0px;
    text-decoration: none;
    /* color: rgb(39, 39, 39); */
    /* color: #9718ff; */
    /* background-color: #ffc; */
    height: 10em;
    width: 10em;
    padding: 1em;
    -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
    -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    -moz-transition: -moz-transform .15s linear;
    -o-transition: -o-transform .15s linear;
    -webkit-transition: -webkit-transform .15s linear;
    transition: .15s linear;
    overflow-y: scroll;
    /* -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    transform: rotate(-6deg); */
}

textarea {
    resize: none;
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
}

.textarea p {
    margin-bottom: 0;
}

.underline {
    text-decoration: underline wavy rgb(23, 24, 24);
    outline: 0px solid transparent;
}

.memoSave {
    border: 0;
    background-color: transparent;
    float: right;
}

.memoSaveSpan::after {
    content: '\2713';
    color: red;
    padding: 0 6px 0 0;
    /* z-index: 10; */
    width: 20px;
    height: 20px;
}

input[readonly] {
    background: none;
}

.upload_label {
    float: left;
    display: inline-block;
    width: 120px;
    height: 120px;
    margin-left: 13px;
    color: #a6a6a6;
    font-size: 4.7em;
    line-height: normal;
    text-align: center;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    top: 50px;
}

.upload_label:hover {
    color: #a6a6a680;
}

input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    top: 50px;
}

#file_loading {
    position: relative;
    display: inline-block;
    background: url("/image/tool_icon/file_loading.gif") no-repeat center center;
    width: 120px;
    height: 120px;
    margin-left: 13px;
    object-fit: fill;

}

.upload_loading {
    width: 280px;
    height: 120px;
}

#obj_feild {
    margin-top: 10px;
    display: inline-block;
    position: relative;
    float: left;
}

.mp3_icon {
    background: url("/image/tool_icon/mp3_icon.png") no-repeat center center;
}

.custom-menu {
    width: 100px;
    z-index: 1000;
    border-radius: 5%;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 2px;
}

.nav_left {
    position: fixed;
    -moz-transition: left 0.2s linear;
    -o-transition: left 0.2s linear;
    -webkit-transition: left 0.2s linear;
    transition: left 0.2s linear;
    z-index: 1;
}

.nav_left #menuToggle_left {
    background: #45b3e667;
    display: block;
    position: relative;
    width: 50px;
}

.nav_left #menuToggle_left:hover {
    cursor: pointer;
}

.nav_left #menuToggle_left .sidebar_left {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-top: 4px solid rgb(255, 255, 255);
    border-left: 4px solid rgb(255, 255, 255);
    -webkit-transform: rotate(5deg);
    transform: rotate(135deg);
    position: absolute;
    top: 50%;
    left: 30%;
    margin-top: -7px;
}

.nav_left>.ep>.ep-list>h4>a:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 2px;
    -moz-transition: width 0.3s;
    -o-transition: width 0.3s;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
    width: 0;
}

.nav_left>.ep>.ep-list>h4>a:hover:after {
    width: 100%;
}

.open_left {
    left: 0;
}

.open_left #menuToggle_left .sidebar_left {
    background: transparent;
    left: 40%;
    top: 50%;
    transform: rotate(-45deg);
}

.nav_right {
    background-color: #45b3e667;
    position: fixed;
    -moz-transition: right 0.2s linear;
    -o-transition: right 0.2s linear;
    -webkit-transition: right 0.2s linear;
    transition: right 0.2s linear;
    z-index: 1;
}

.nav_right #menuToggle_right {
    background: #45b3e667;
    display: block;
    position: relative;
    width: 50px;
}

.nav_right #menuToggle_right .sidebar_right {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-top: 4px solid rgb(255, 255, 255);
    border-right: 4px solid rgb(255, 255, 255);
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    position: absolute;
    top: 50%;
    right: 30%;
    margin-top: -7px;
}

.open_right {
    right: 0;
}

.open_right #menuToggle_right .sidebar_right {
    background: transparent;
    right: 40%;
    top: 50%;
    transform: rotate(45deg);
}

.tem_effect {
    display: inline-block;
}

#cherryBlossom1,
#cherryBlossom2,
#rain,
#snow,
#starlight,
#yellowstar,
#lightning,
#fire1,
#fire2 {
    display: inline-block;
    position: absolute;
    /* z-index: 1; */
}

#css_eft_cB1,
#css_eft_cB2,
#css_eft_rain,
#css_eft_snow,
#css_eft_starlight,
#css_eft_yellowstar,
#css_eft_lightning {
    width: 120px;
    height: 120px;
}

#cherryBlossom1,
#css_eft_cB1 {
    background: url("/image/css_effect/cherryBlossom1.gif");
}

#cherryBlossom2,
#css_eft_cB2 {
    background: url("/image/css_effect/cherryBlossom2.gif");
}

#rain,
#css_eft_rain {
    background: url("/image/css_effect/rain.gif");
}

#snow,
#css_eft_snow {
    background: url("/image/css_effect/snow.gif");
}

#starlight,
#css_eft_starlight {
    background: url("/image/css_effect/starlight.gif");
}

#yellowstar,
#css_eft_yellowstar {
    background: url("/image/css_effect/yellowstar.gif");
}

#lightning,
#css_eft_lightning {
    background: url("/image/css_effect/lightning.gif");
}

#fire1 {
    background: url("/image/css_effect/fire1.gif");
    background-repeat: no-repeat;
    bottom: 100px;
}

#fire2 {
    background: url("/image/css_effect/fire2.gif");
    background-repeat: no-repeat;
    bottom: 100px;
}

.css_eft_name {
    padding: 10px;
    border: 3px solid white;
    top: 25%;
    position: relative;
}

.css_eft_name:hover {
    border: 3px solid rgb(118, 206, 235);
}

/* //content */

.container {
    height: 10%;
}

#ccc {
    display: none;
    position: absolute;
    width: 300px;
    height: 335px;
    right: 3%;
    z-index: 2;
}

.clearfix a {
    margin: 3px;
}

.mx-auto {
    text-align: center;
}

/* //content */
