/* login_ */
.container_bg {
    /* background: url("/image/main.png"); */
    position: absolute;
    height: 100%;
    width: 100%;
  }
.overlay{
    background-color: rgba( 255, 255, 255, 0.3 );
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.right-box {
    float: right;
    height: 100%;
    width: 50%;
    background-color: rgba( 255, 255, 255, 0.5 );
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.login {
    border: 5px solid;
    border-color: rgba(30, 132, 228);
    border-radius: 20px;
    margin-bottom: 40px;
    width: 100%;
    font-size: 30px;
}

.login-btn {
    font-size: 20px;
    font-weight: 800;
    width: 160px;
    padding: 15px 25px;
    color: white;
    background-color: rgba(74, 134, 232);
    border-radius: 20px;
    border: 0;
    float: right;
    margin-left: 100%;
    margin-bottom: 20px;
}

.invis-btn {
    float: right;
    border: 0;
    background: none;
    font-weight: 200;
}
